body {
    background-color: #0f0f29 ;
    font: normal 18px Arial;
}

header {
    color: #fff;
    text-align: center;
}

section {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px #646464;
}

#foto {
    border-radius: 50%;
    padding-top: 15px;
}

footer {
    color: #fff;
    text-align: center;
}