body {
    background-color: #6565e0 ;
    font: normal 18px Arial;
}

header {
    color: #fff;
    text-align: center;
}

section {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px #646464;
}

div {
    text-align: center;
    padding: 10px;
}

#pic {
    width: 450px;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

#imagem {
    width: 250px;
    height: auto;
    border-radius: 50%;
}

footer {
    color: #fff;
    text-align: center;
}